
body {
    font-family: 'Eugenio Sans Text', 'Helvetica Neue', Helvetica, sans-serif;
}
@media screen and (min-width: 768px)  {
    :root {
        --rep-maxwidth: 996px;
    }
}
@media screen and (min-width: 768px) {
    max-width: 996px;
}

.main-header{

    border-bottom: 1px #e9e9ee solid;
    min-height: 50px;
}
header{
    box-sizing: border-box;
    font-family: 'Eugenio Sans Text','Helvetica Neue',Helvetica,sans-serif;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
    letter-spacing: .6px;
    text-align: center;
    max-width: var(--rep-maxwidth);
    margin: 0 auto;

    border-bottom: gray;
}
.sub-header{
    padding: 20px 0px;
}
.sub-header-item{
    margin: 0px 15px;
}
.weather-info{
    padding-top: 16px;
    font: 500 13px/1 'Eugenio Text',Georgia,Times,'Times New Roman',serif;
    text-transform: none;
}
.meteo-temp{
    font-size: 16px;
}
.weather-search {
    font-size: 14px;
    width: 100px;
    border-bottom: 1px #f0f0f0 solid;

}
.weather-search input{
    border: 0;
    box-shadow: none;
}
.weather-search input:focus{
    border-bottom-color: #000;
    outline: 0;
}
.third-header{
    border: 1px solid #999;
}
.third-header-btn{
    font-weight: 500;
    padding: 5px;
    font-family: 'Eugenio Sans Text','Helvetica Neue',Helvetica,sans-serif;
}
.third-header button:focus:not(:focus-visible){

    outline: 0;
    border: 0;
}
.third-header-btn{
    font-weight: 500;
    padding: 5px;
    font-family: 'Eugenio Sans Text','Helvetica Neue',Helvetica,sans-serif;
}
.main-logo{
    min-height: 75px;
}
.nav-central-button{
    text-decoration: none;
    color: black;
    align-content: center;
    text-transform: uppercase;
}
.nav-central-button:hover{
    color: #4b88ca;
}

.nav-header-item{
    font-size: 12px;
    font-weight: 500;
    padding: 0 16px;
}
.nav-small-logo{
    width: 20px;
    height: 20px;

}
.nav-separator{

}
.nav-header-item:hover{
    color: #4b88ca;
}
.main{
    box-sizing: border-box;
    font-family: 'Eugenio Sans Text','Helvetica Neue',Helvetica,sans-serif;
    position: relative;

    max-width: var(--rep-maxwidth);
    margin: 0 auto;
}
footer {
    display: block;
    unicode-bidi: isolate;
}

footer a {
    color: white;
    text-decoration: none;
}
/*.footer-item-list a:hover:before {*/
/*    content: '';*/
/*    background: #4b88ca;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    bottom: -2px;*/
/*    height: 2px;*/
/*    border-bottom: aqua;*/
/*    border-bottom-width: thick;*/
/*}*/
.third-footer a {

    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    padding: 2px;
    margin: 0 2px;
}

.third-footer a:hover {
    background: #fff;
    color: #c00;
}
.third-footer a:not(:hover):before {
    content: '';
    background: #c00;
    width: 100%;
    position: absolute;
    bottom: -2px;
    height: 2px;
}
.main-footer{
    box-sizing: border-box;
    font-family: 'Eugenio Sans Text','Helvetica Neue',Helvetica,sans-serif;
    position: relative;
    z-index: 1;
    max-width: var(--rep-maxwidth);
    margin: 0 auto;
}


.first-footer{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    border-top: 2px solid #dedede;
}

.first-footer-content{
    padding-left: 16px;
    padding-right: 16px;
}
.footer-first-title {
    margin: 0;
    border-top-color: black;
    border-top-width: thick;
    text-transform: uppercase;
    color: #454545;
    font-family: inherit;
    position: relative;

}
.footer-first-title:before {
    content: "";
    position: absolute;
    top: -17px;
    left: 0;
    right: 0;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #454545;
}
.footer-layer-title {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.second-footer{
    background-color: #3c3d41;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.third-footer{
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 10px;
    background-color: #4f5054;
}

@media screen and (min-width: 768px) {
    .footer-first-title {
        font-size: 22px;
    }
}
@media screen and (min-width: 768px) {
    .first-footer {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .first-footer {
        display: none;
    }
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
