
body {
    font-family: 'Eugenio Sans Text', 'Helvetica Neue', Helvetica, sans-serif;
}
@media screen and (min-width: 768px) and (max-width: 1539px) {
    :root {
        --rep-maxwidth: 996px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1539px){
    max-width: 996px;
}
footer {
    display: block;
    unicode-bidi: isolate;
}
.main-footer{
    box-sizing: border-box;
    font-family: 'Eugenio Sans Text','Helvetica Neue',Helvetica,sans-serif;
    position: relative;
    z-index: 1;
    max-width: var(--rep-maxwidth);
    margin: 0 auto;
}


.first-footer{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    border-top: 2px solid #dedede;
}
.footer-first-title {
    margin-top: 0;
    text-transform: uppercase;
    color: #454545;
    font-family: inherit;
    position: relative;
}

.footer-layer-title {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.second-footer{
    background-color: #3c3d41;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    }
.third-footer{
        color: #fff;
        font-size: 12px;
        line-height: 10px;
        padding-top: 18px;
        padding-bottom: 18px;
    padding-left: 10px;
        background-color: #4f5054;
    }

@media screen and (min-width: 768px) {
    .footer-first-title {
        font-size: 22px;
    }
}
@media screen and (min-width: 768px) {
    .first-footer {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .first-footer {
        display: none;
    }
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
